<div>
    <label>No:
      <input [(ngModel)]="hero.no" placeholder="No">
    </label>
</div>
<div>
  <label>name:
    <input [(ngModel)]="hero.name" placeholder="name">
  </label>
</div>

<div>
  <label for="">Date: </label>
  <app-date-options></app-date-options>
</div>

<!-- <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
  [minDate]="dateOption.minDate"
  #start="ngbDatepicker">

<div class="input-group-append">
  <button class="btn btn-outline-secondary" (click)="start.toggle()" type="button">
    <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
  </button>
</div> -->

<div>
    <button (click)="save()">Save</button>
</div>